@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
    scrollbar-color: #6d28d9 #1a202c;
    scrollbar-width: auto;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #1a202c;
}

*::-webkit-scrollbar-thumb {
    background-color: #6d28d9;
    border-radius: 20px;
    border: 3px solid #1a202c;
}

.border-1{
    border-width: 1px;
}

.markdown {
    padding: 6px 28px 28px;
    color: white;
    font-family: inherit;

    ul, ol {
        padding-left: 20px;
        list-style-position: outside;
    }
    ol {
        list-style-type: decimal;
    }
    ul {
        list-style-type: disc;
    }

    h1 {
        font-size: 2.25rem;
        font-weight: bold;
        margin-top: 1em;
        margin-bottom: 0.5em;
    }
    h2 {
        font-size: 1.875rem;
        font-weight: bold;
        margin-top: 1em;
        margin-bottom: 0.5em;
    }
    h3 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 1em;
        margin-bottom: 0.5em;
    }
    h4 {
        font-size: 1.25rem;
        font-weight: bold;
        margin-top: 1em;
        margin-bottom: 0.5em;
    }
    h5 {
        font-size: 1.125rem;
        font-weight: bold;
        margin-top: 1em;
        margin-bottom: 0.5em;
    }
    h6 {
        font-size: 1rem;
        font-weight: bold;
        margin-top: 1em;
        margin-bottom: 0.5em;
    }

    p {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    a {
        color: #3182ce;
        text-decoration: underline;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    pre code {
        display: none;
    }

}
